<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    {{!-- <h1>Hello this is our <span style="color: blue;">hbs</span> home page mr. {{data.name}}</h1> --}}
    {{!-- ! The above syntax of accessing the name wont work, but the below syntax will work --}}
    <h1>Hello sir this is our <span style="color: blue;">hbs</span> home page mr. {{name}}</h1>
</body>
</html>