   <header class="header">
      <nav class="navbar">
        <h1>Satabdi</h1>
        <ul class="navigaion">
          <a href="/">Home</a
          ><a href="/about">About</a
          ><a href="/weather">Weather</a>
        </ul>
      </nav>
    </header>